/* Inspection Fonts */

$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Tajawal', sans-serif;

/* Inspection Colors */

$white: #FFFFFF;
$off-white: #F8F9FC;
$silver: #F1F2F5;
$light-gray: #F2F4FB;
$medium-gray: #D9DCE5;
$title-border: #E4E4E4;
$gray: #9199B6;
$semi-dark-gray: #242C41;
$dark-gray: #2A3348;
$border: #B5BACB;
$light-purple: #5E6EA7;
$purple: #5069E4;
$red: #E45050;
$green: #8BBF31;
$damage-red: #DD2E44;
$damage-blue: #111F65;
$brown: #311913;
$black: #131B31;
